@import "nulling.scss";
*{
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 960px;
    background: #F4D04E;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    width: 384px;
    height: 522px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 20px;
    box-shadow: 8px 8px 0px #000000;
    gap: 24px;

		&__image {
            img{
                border-radius: 10px;
            }
        }

		&__author {}
}
.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    &__btn {
        background-color: #F4D04E;
    }

    &__date {}

    &__title {}

    &__text {}
}






